<template>
  <div id="app" :class="$style.app">
    <Header>
      <h1>Little Brown Book Shop</h1>
      <Cart />
    </Header>
    <Bookstore />
    <modals-container />
    <notifications position="top left" />
  </div>
</template>

<script>
import Bookstore from './Bookstore.vue';
import Cart from './Cart.vue';
import Header from './Header.vue';

export default {
  name: 'app',

  components: {
    Bookstore,
    Cart,
    Header,
  },
};
</script>

<style lang="postcss" module>
  .app {
    @apply .bg-gray-100 .flex .flex-col .w-screen .h-screen;
  }
</style>
