<template>
  <div :class="$style['bookstore-item']" @click="() => addItem(item)">
    <img :class="$style['bookstore-item__cover']" :src="item.cover" :alt="item.title" />
    <h3 :class="$style['bookstore-item__title']">{{ item.title }}</h3>
    <p :class="$style['bookstore-item__price']">{{ item.price }}</p>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import { CART } from '@/store/action-types';

export default {
  name: 'BookstoreItem',

  props: {
    item: {
      type: Object,
      required: true,
    },
  },

  methods: {
    ...mapActions([CART.ADD_ITEM]),

    addItem(item) {
      this[CART.ADD_ITEM](item);
      this.$notify({
        title: 'Added',
        text: item.title,
        type: 'success',
      });
    },
  },
};
</script>

<style lang="postcss" module>

  .bookstore-item {
    @apply .cursor-pointer .w-1/2 .p-4 .my-4;

    @screen sm {
      @apply .w-1/4;
    }

    @screen lg {
      @apply .w-1/6;
    }

    &__cover {
      @apply .block .mx-auto;
    }

    &__price {
      @apply .text-sm .text-line-gray-light;
      font-size: small;
    }

    &__title {
      @apply .text-base .text-line-gray-dark;
      font-size: 1em;
    }
  }

</style>
