<template>
  <div :class="$style.bookstore">
    <BookstoreItem
      v-for="book in books"
      :key="book.id"
      :item="book"
    />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { BOOKS } from '@/store/action-types';
import BookstoreItem from './BookstoreItem.vue';

export default {
  name: 'Bookstore',

  components: {
    BookstoreItem,
  },

  computed: {
    ...mapState({
      books: state => state.books.all,
      error: state => state.books.error,
    }),
  },

  created() {
    this[BOOKS.GET_ALL_BOOKS]();
  },

  methods: {
    ...mapActions([
      BOOKS.GET_ALL_BOOKS,
    ]),
  },
};
</script>

<style lang="postcss" module>
  .bookstore {
    @apply .flex .flex-wrap .justify-start .items-start .px-4 .py-0 .relative;
    @apply .h-full .overflow-y-scroll;
  }
</style>
