<template>
  <div :class="$style['cart-button']" @click="() => showCart()">
    <span>
      <svg
        :class="$style['cart-button__icon']"
        role="button"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 25 25"
      >
        <title>Cart</title>
        <path
          d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5
          1.5-1.5s1.5.672 1.5 1.5zm3.5-1.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5
          1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm1.336-5l1.977-7h-16.813l2.938
          7h11.898zm4.969-10l-3.432 12h-12.597l.839
          2h13.239l3.474-12h1.929l.743-2h-4.195z"
        />
      </svg>
    </span>
    <span id="cart-button-badge" :class="$style['cart-button__badge']">{{ items.length }}</span>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import Checkout from './Checkout.vue';

export default {
  name: 'Cart',

  computed: {
    ...mapState({
      items: state => state.cart.items,
    }),
  },

  methods: {
    showCart() {
      this.$modal.show(Checkout, null, {
        width: '96%',
        height: 'auto',
        scrollable: true,
      });
    },
  },
};
</script>

<style lang="postcss" module>
  .cart-button {
    @apply .cursor-pointer .flex;

    &__badge {
      @apply .w-6 .h-6 .rounded-full;
      @apply .bg-line-green .text-white .text-sm .font-bold;
      @apply .flex .justify-center .items-center;
    }

    &__icon {
      @apply .text-line-gray-dark .fill-current .w-6 .h-6;
    }
  }
</style>
