<template>
  <table :class="$style['cart-table']">
    <thead>
      <tr>
        <th>Title</th>
        <th>Quantity</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in items" :key="item.id">
        <td>{{ item.title }}</td>
        <td>x {{ item.quantity }}</td>
        <td>{{(item.price * item.quantity) | currency }}</td>
        <td
          :id="`remove-button-${item.id}`"
          :class="$style['cart-table__remove-item']"
          @click="() => removeItem(item.id)"
        >
          ❌
        </td>
      </tr>
      <tr v-if="discount">
        <td></td>
        <td>Discount</td>
        <td>-{{ discount | currency }}</td>
        <td></td>
      </tr>
      <tr v-if="total">
        <td></td>
        <td>Total</td>
        <td>{{ total | currency }}</td>
        <td></td>
      </tr>
      <tr v-if="!total">
        <td
          colspan="4"
          :class="$style['cart-table__empty']"
        >
          Your cart is empty...
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { CART } from '@/store/action-types';

export default {
  name: 'CartTable',

  computed: {
    ...mapState({
      discount: state => state.cart.discount,
      items: state => state.cart.items,
      total: state => state.cart.total,
    }),
  },

  methods: {
    ...mapActions([
      CART.REMOVE_ITEM,
    ]),

    removeItem(id) {
      this[CART.REMOVE_ITEM](id);
    },
  },
};
</script>

<style lang="postcss" module>
  .cart-table {
    @apply .w-full .border-collapse .my-8 .overflow-x-scroll;

    @media md {
      @apply .overflow-hidden;
    }

    th {
      @apply .py-2 .px-2 .bg-gray-200;
      @apply .text-xs .text-line-gray-dark .uppercase;
      @apply .border-b .border-gray-200;

      @screen sm {
        @apply .py-4 .px-6 .text-sm;
      }
    }

    td {
      @apply .py-2 .px-2 .border-b .border-gray-200 .text-xs;

      @screen sm {
        @apply .py-4 .px-6 .text-sm;
      }
    }

    &__empty {
      @apply .text-center .text-line-gray-light;
    }

    &__remove-item {
      @apply .cursor-pointer;
    }
  }
</style>
