<template>
  <div :class="$style.checkout">
    <slot name="top-right">
      <CloseButton :onClose="() => onClose()" />
    </slot>
    <h3 :class="$style['checkout__title']">My Cart</h3>
    <CartTable />
    <div :class="$style['checkout__buttons']">
      <button
        id="checkout-button"
        :class="$style['checkout__button']"
        :disabled="!total"
        @click.prevent="() => showPayment()"
      >
        Pay
      </button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import CartTable from './CartTable.vue';
import CloseButton from './CloseButton.vue';
import Payment from './Payment.vue';

export default {
  name: 'Checkout',

  components: {
    CartTable,
    CloseButton,
  },

  computed: {
    ...mapState({
      total: state => state.cart.total,
    }),
  },

  methods: {
    onClose() {
      this.$emit('close');
    },

    showPayment() {
      this.onClose();
      this.$modal.show(Payment, null, {
        width: '96%',
        height: 'auto',
        scrollable: true,
      });
    },
  },
};
</script>

<style lang="postcss" module>
  .checkout {
    @apply .w-full .py-4 .relative;

    &__buttons {
      @apply .text-center .mb-12;
    }

    &__button {
      @apply .bg-line-green .text-white .font-bold;
      @apply .py-2 .px-4 .rounded;

      &:disabled {
        @apply .bg-line-gray-light .cursor-not-allowed;
      }
    }

    &__title {
      @apply .text-center .text-lg .font-bold;
    }
  }
</style>
