<template>
  <span :class="$style['close-button']" @click="() => onClose()">
    <svg
      :class="$style['close-button__icon']"
      role="button"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
    >
      <title>Close</title>
      <path
        d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651
        3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1
        1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758
        3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
    </svg>
  </span>
</template>

<script>
export default {
  name: 'CloseButton',

  props: {
    onClose: {
      type: Function,
      required: true,
    },
  },

  data: () => ({}),
};
</script>

<style lang="postcss" module>
  .close-button {
    @apply .cursor-pointer .p-4 .top-0 .right-0 .absolute;

    &__icon {
      @apply .text-line-gray-dark .fill-current .w-4 .h-4;
    }
  }
</style>
