<template>
  <div :class="$style.header">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'Header',
};
</script>

<style lang="postcss" module>
  .header {
    @apply .bg-gray-100 .flex .justify-between .px-4 .py-2 .shadow;

    > h1 {
      @apply .text-lg .text-line-green .font-bold;
    }
  }
</style>
