<template>
  <div :class="$style.payment">
    <slot name="top-right">
      <CloseButton :onClose="() => onClose()" />
    </slot>
    <h3 :class="$style['payment__title']">Payment</h3>
    <div :class="$style['payment__panel']">
      <div :class="$style['payment__form']">
        <label>Total:</label>
        <input readonly :value="total | currency" />
      </div>
      <div :class="$style['payment__form']">
        <label for="">Payment</label>
        <input id="payment-cash" v-model.number="cash" />
      </div>
      <div v-if="cash > total" :class="$style['payment__form']">
        <label>Change:</label>
        <input readonly :value="change | currency" />
      </div>
    </div>
    <div :class="$style['payment__buttons']">
      <button
        id="payment-button"
        :class="$style['payment__button']"
        :disabled="!isPayable"
        @click.prevent="() => onPaid()"
      >
        Pay
      </button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { CASHIER } from '@/store/action-types';
import CloseButton from './CloseButton.vue';
import Receipt from './Receipt.vue';

export default {
  name: 'Payment',

  components: {
    CloseButton,
  },

  data: () => ({
    cash: 0,
  }),

  computed: {
    ...mapState({
      total: state => state.cart.total,
    }),

    change() {
      return this.cash - this.total;
    },

    isPayable() {
      return this.cash >= this.total && (this.total && this.cash);
    },
  },

  methods: {
    ...mapActions([
      CASHIER.PAY,
    ]),

    onClose() {
      this.$emit('close');
    },

    onPaid() {
      this[CASHIER.PAY]({
        amount: this.cash,
        price: this.total,
      });

      this.onClose();

      this.$notify({
        title: 'Paid',
        text: 'The bill has been paid.',
        type: 'success',
      });

      this.$modal.show(Receipt, null, {
        width: '96%',
        height: 'auto',
        scrollable: true,
      });
    },
  },
};
</script>

<style lang="postcss" module>
  .close-button {
    @apply .cursor-pointer .p-4 .top-0 .right-0 .absolute;

    &__icon {
      @apply .text-line-gray-dark .fill-current .w-4 .h-4;
    }
  }

  .payment {
    @apply .w-full .p-4 .relative;

    &__buttons {
      @apply .text-center .mb-12;
    }

    &__button {
      @apply .bg-line-green .text-white .font-bold;
      @apply .py-2 .px-4 .rounded;

      &:disabled {
        @apply .bg-line-gray-light .cursor-not-allowed;
      }
    }

    &__form {
      @apply .mb-4;

      > label {
        @apply .block .uppercase .tracking-wide .flex-1;
        @apply .text-gray-700 .text-xs .font-bold .mb-2;
      }

      > input {
        @apply .appearance-none .block .flex-1 .w-full;
        @apply .text-gray-700 .border .border-gray-200 .rounded;
        @apply .py-3 .px-4 .leading-tight;

        &:read-only {
         @apply .bg-gray-200;
        }

        &:focus {
          @apply .outline-none;
        }

        &:focus:not(:read-only) {
          @apply .bg-white .border-gray-500;
        }
      }
    }

    &__panel {
      @apply .px-4 .py-8 .w-10/12 .m-auto;
    }

    &__title {
      @apply .text-center .text-lg .font-bold;
    }
  }
</style>
