<template>
  <div :class="$style.receipt">
    <slot name="top-right">
      <CloseButton :onClose="() => emptyCart()" />
    </slot>
    <h3 :class="$style['receipt__title']">Your Receipt</h3>
    <table :class="$style['receipt__table']">
      <thead>
        <tr>
          <th>Title</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in items" :key="item.id">
          <td>{{ item.title }}</td>
          <td>x {{ item.quantity }}</td>
          <td>{{(item.price * item.quantity) | currency }}</td>
        </tr>
        <tr v-if="discount">
          <td></td>
          <td>Discount</td>
          <td>-{{ discount | currency }}</td>
        </tr>
        <tr>
          <td></td>
          <td>Total</td>
          <td>{{ total | currency }}</td>
        </tr>
        <tr>
          <td></td>
          <td>Cash</td>
          <td>{{ amount | currency }}</td>
        </tr>
        <tr v-if="change">
          <td></td>
          <td>Change</td>
          <td>{{ change | currency }}</td>
        </tr>
      </tbody>
    </table>
    <div :class="$style['receipt__buttons']">
      <button
        id="receipt-done-button"
        :class="$style['receipt__button']"
        @click.prevent="() => emptyCart()"
      >
        Done
      </button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { CART } from '@/store/action-types';
import CloseButton from './CloseButton.vue';

export default {
  name: 'Receipt',

  components: {
    CloseButton,
  },

  computed: {
    ...mapState({
      amount: state => state.cashier.amount,
      change: state => state.cashier.change,
      discount: state => state.cart.discount,
      items: state => state.cart.items,
      total: state => state.cart.total,
    }),
  },

  methods: {
    ...mapActions([CART.EMPTY_CART]),

    emptyCart() {
      this[CART.EMPTY_CART]();
      this.$emit('close');
    },
  },
};
</script>

<style lang="postcss" module>
  .receipt {
    @apply .w-full .py-4 .relative;

    &__title {
      @apply .text-center .text-lg .font-bold;
    }

    &__table {
      @apply .w-full .border-collapse .my-8 .overflow-x-scroll;

      @media md {
        @apply .overflow-hidden;
      }

      th {
        @apply .py-2 .px-2 .bg-gray-200;
        @apply .text-xs .text-line-gray-dark .uppercase;
        @apply .border-b .border-gray-200;

        @screen sm {
          @apply .py-4 .px-6 .text-sm;
        }
      }

      td {
        @apply .py-2 .px-2 .border-b .border-gray-200 .text-xs;

        @screen sm {
          @apply .py-4 .px-6 .text-sm;
        }
      }
    }

    &__buttons {
      @apply .text-center .mb-12;
    }

    &__button {
      @apply .bg-line-green .text-white .font-bold;
      @apply .py-2 .px-4 .rounded;

      &:disabled {
        @apply .bg-line-gray-light .cursor-not-allowed;
      }
    }
  }
</style>
